
:root {
    --primary-text-color: #757575;
    --sitenav-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --primary-background-color: #FFFFFF;
    --white-text-color: #FFFFFF;
    
    --button-background-color: #2188f3;
    --hero-background-color: #2F303A;

    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-background-color: #2F303A;

    --portfolio-button-bgc: #F5F4FA;
    --portfolio-title-background-color: #FFFFFF;
    --portfolio-border-color: #ECECEC;

    --team-background-color: #F5F4FA;
    --team-title-background-color: #FFFFFF;
    --team-icon-color: #AFB1B8;
    --team-icon-hover-color: #FFFFFF;
    
    --feature-icon-background-color: #F5F4FA;
    
    --rc-icon-color: #AFB1B8;

    --nav-icon-color: #757575;

    --join-us-icon-color: #FFFFFF;
    --join-us-icon-background-color: rgba(255, 255, 255, 0.1);
    
    --subscribe-svg-color: #FFFFFF;
}


